<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECH BLOG</title>
    <link rel="stylesheet" href="/public/css/style.css" />

  </head>
  <header class="headerLinks">
    <a class="homeBtn" href="#">Home</a>
    <a class="dashboardBtn" href="#">Dashboard</a>
    <a class="logoutBtn" href="#">Logout</a>
    <div class="logo">
      <p class="techBlog">The Tech Blog</p>
    </div>
  </header>
  <body>
    <div class="inputSection">
      <div class="inputTitle"></div>
      <div class="inputText"></div>
    </div>

  </body>
</html>