<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECH BLOG</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <!-- header with links to different sections -->
  <header class="headerLinks">
    <a class="homeBtn" href="/">Home</a>&nbsp&nbsp&nbsp
    <a class="dashboardBtn" href="/dashboard">Dashboard</a>&nbsp&nbsp&nbsp
    <a class="loginBtn" href="/login">Login</a>&nbsp&nbsp&nbsp
    <a class="logoutBtn" id="logout" href="#">Logout</a>
    <div class="logo">
      <p class="techBlog">The Tech Blog</p>
    </div>
  </header>
  <br /><br />
  {{{body}}}

  <!-- section to input comments on blog add this to a diff handlebars-->
  {{! <div class="inputSection">
      <p class="inputTitle">
        Title of blog input by user goes here
        <span class="userName">Posted by "username" on "date"</span>
      </p>
      <p class="inputText">Text input by user on app goes here</p>
    </div>

    <!-- section to input comments on blog -->
    <div class="inputSection">
      <p class="inputTitle">
        Title of blog input by user goes here
        <span class="userName">Posted by "username" on "date"</span>
      </p>
      <p class="inputText">Text input by user on app goes here</p>
    </div>
    <br /> }}

</html>