

    {{#each blog as |blog| }}
    <!-- section to input comments on blog add this to a diff handlebars-->
  
  <form class="post-form">
    <p id="newPost">New Comment</p>
    <div class="inputSection">
      <input class="inputTitle"></input><br>
      <input class="inputText"></input><br>
      <button type= "submit" id="submitBtn">submit post</button>
    </div>
  </form>
  <div class="inputSection">
      <p class="inputTitle">
        {{blog_title}}
        <span class="userName">Posted by {{user_name}} on {{format_date}}</span>
      </p>
      <p class="inputText">{{blog_comments}}</p>
  </div>
  {{/each}}
  <script src="./js/submit.js"></script>