
<form class="blog-form">
  
  <div class="inputSection">
      <h2>New Post</h2>
      <label>Blog Title</label>
      <input class="inputTitle"></input><br>
      <label>Blog Text</label>
      <input class="inputText"></input>
      <button class="post-form"  type= "submit" id="submitBtn">Submit Post</button>
  </div>
  </form>
  <br /> 

<script src="./js/submit.js"></script>