<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECH BLOG</title>
    <link rel="stylesheet" href="style.css" />
  </head>
<form class="post-form">
  <div class="inputSection">
      <input class="inputTitle"></input><br>
      <input class="inputText"></input>
      <button type= "submit" id="submitBtn">submit post</button>
  </div>
  </form>
  <br /> 

  {{#each blog as |blog| }}
    <!-- section to input comments on blog add this to a diff handlebars-->
    
  <div class="inputSection">
      <p class="inputTitle">
        {{title}}
        <span class="userName">Posted by {{user_name}} on {{format_date date_created}}</span>
      </p>
      <p class="inputText">{{blog_text}}</p>
  </div>

    <!-- section to input comments on blog -->

{{/each}}

<script src="./js/submit.js"></script>