<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECH BLOG</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <!-- header with links to different pages -->
  <div class="postAdd">
    <a href="/dashboard" id="newPost">+ New Post +</a>
  </div>

  {{#each blogpost as |blog|}}
    <!-- section to input comments on blog add this to a diff handlebars-->

    <div class="inputSection">
      <p class="inputTitle">
        {{blog.blog_title}}
        <span class="userName">Posted by
          {{blog.user_name}}
          on
          {{blog.format_date}}</span>
      </p>
      <p class="inputText">{{blog.blog_text}}</p>

    </div>

    <!-- section to input comments on blog -->

  {{/each}}

</html>
<script src="./js/logout.js"></script>