<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECH BLOG</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    {{#if logged_in}}
      <a href="= /profile">Profile</a>
      <button class="no-button" id="logout">logout</button>
    {{else}}
      <p style="font-weight: bolder;">Please login or register add or view blogs</p>
    {{/if}}
    {{! Sign-up Form }}
    <form class="signup-form">
      <div class="from-group">
        <label for="name-signup">Name:</label>
        <input type="text" class="form-input" id="name-signup" />
      </div>
      <div class="from-group">
        <label for="email-signup">Email:</label>
        <input type="text" class="form-input" id="email-signup" />
      </div>
      <div class="from-group">
        <label for="password-signup">Password:</label>
        <input type="password" class="form-input" id="password-signup" />
      </div>
      <button class="btn" type="submit">Signup</button>
    </form>
    {{! Login }}
    <form class="login-form">
      <div class="from-group">
        <label for="email-login">Email:</label>
        <input type="text" class="form-input" id="email-login" />
      </div>
      <div class="from-group">
        <label for="password-login">Password:</label>
        <input type="password" class="form-input" id="password-login" />
      </div>
      <button class="btn" type="submit">Login</button>
    </form>

  </body>
</html>
<script src="./js/login.js"></script>