
<div class="profile">
<p class="welcome">Welcome to your Blog Profile {{user_name}}</p>

<p class="userPosts">Your Posts<p>

 <div class="inputSection">
      <p class="inputTitle">
        {{blog_title}}
        <span class="userName">Posted by {{user_name}}</span>
      </p>
      <p class="inputText">{{blog_text}}</p>
  </div>
</div>
<script src="./js/logout.js"></script>