<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TECH BLOG</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <!-- header with links to different sections -->
  <header class="headerLinks">
    <a class="homeBtn" href="#">Home</a>&nbsp&nbsp&nbsp
    <a class="dashboardBtn" href="#">Dashboard</a>&nbsp&nbsp&nbsp
    <a class="loginBtn" href="#">Login</a>&nbsp&nbsp&nbsp
    <a class="logoutBtn" href="#">Logout</a>
    <div class="logo">
      <p class="techBlog">The Tech Blog</p>
    </div>
  </header>
  <br /><br />
  <body>
    <form class="signup-form">
      <div class="from-group">
        <label for="name-signup">Name:</label>
        <input type="text" class="form-input" id="name-signup" />
      </div>
      <div class="from-group">
        <label for="email-signup">Email:</label>
        <input type="text" class="form-input" id="email-signup" />
      </div>
      <div class="from-group">
        <label for="password-signup">Password:</label>
        <input type="password" class="form-input" id="password-signup" />
      </div>
      <button class="btn" type="submit">Signup</button>
    </form>

  </body>
</html>